# Dependencies
node_modules
vendor

# Log files
*.log
logs

# Build outputs
dist
build
out

# Editor directories and files
.vscode
.idea
.DS_Store

# Testing
coverage

# Cache
.cache
temp
tmp
*.pyc
__pycache__

# Database
*.db
*.sqlite
*.sqlite3
